html {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

section {
  margin-bottom: 8rem;
}

.container {
  width: calc(100% - 2rem);
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}
